@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --roxo-medio: rgba(79, 91, 194, 1);
    --azul-seila: rgb(17, 17, 78);
    --preto: #000000;
    --branco: #FFFFFF;
    --rosa: #DE7070;
    --roxo-mais-claro: #D5D1EF;
}



body {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    color: var(--preto);

}

.topo {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

}

.logo {
    width: 50px;

}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: var(--preto);
    padding: 7px;
}

.botao-secundario {
    background-color: var(--preto);
    color: var(--branco);
    border-radius: 1px;
}

img {
    width: 400px;
}

.corpo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--rosa);
    background: linear-gradient(0deg, var(--rosa) 60%, var(--roxo-medio) 100%, var(--branco) 10%);
}

.direita {
    width: 50%;
}

.control {
    width: 100%;

}

.esquerda {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.corpo .esquerda {

    p {
        font-size: 80px;
        font-weight: 600;
        text-align: center;
    }

    h1 {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }
}

.botão-primario {
    background-color: var(--azul-seila);
    color: var(--branco);
    font-size: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 0px;
}

p,
h1 {
    padding-top: 10px;
}

.seilas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.controle {
    width: 500px;
}

.subtitulo {

    p {
        font-size: 80px;
        font-weight: 600;
        text-align: center;
    }

    h1 {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }

}

#seila {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.seila {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 50px;
}

.seila .botao-primario {
    text-align: center;
    background: linear-gradient(0deg, var(--branco) 10%, var(--roxo-mais-claro) 100%);

}

.produto {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    height: auto;
}

.produto a {
    width: 200px;
}

.produto img {
    height: auto;
}

